name: Circom Witnesscalc

on:
    push:

jobs:
    circom-witnesscalc:
        runs-on: macos-latest

        steps:
            - uses: actions/checkout@v4

            - name: Install dependencies
              run: brew install protobuf

            - name: Use Node.js LTS
              uses: actions/setup-node@v4
              with:
                  node-version: "lts/*"
                  cache: npm

            - name: Install dependencies
              run: npm install

            - name: Running circom_witnesscalc.sh
              run: ./scripts/circom_witnesscalc.sh

    snarkjs-verification:
        runs-on: macos-latest

        steps:
            - name: Running snarkjs_verification.sh
              run: ./scripts/snarkjs_verification.sh
